# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments and dependency folders
env/
venv/

# Ignore log files and build artifacts
*.log
build/
dist/
